# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
.Rproj.user
contexts
hipercow
.Rhistory
slides/*_files
*.html
.DS_Store
